/* General */

body {
	font-family: Helvetica, Arial, sans-serif;
}

.inline_block {
	display: inline-block;
}

.inline_block_center {
	display: inline-block;
	text-align: center;
	margin: auto;
}

th {
	border-bottom: 1px solid black;
}

/* "readonly" inputs don't seem to get ":invalid" pseudo-class, so add custom "is_invalid" class too */
input:invalid, input.is_invalid {
	border: none;
	outline: 2px solid red;
	border-radius: 5px;
}

/* Main containers */

#outer_container {
	margin: auto;
	max-width: 1250px;
}

#demographics_container {
	min-width: 200px;
	max-width: 1200px;
}

#individuals_container {
	min-width: 200px;
}

/* Population table */

#demographics_container td {
	text-align: center;
	margin: auto;

	padding-left: 0.25em;
	padding-right: 0.25em;
}

#demographics_container td.result_cell {
	padding-left: 0.5em;
	padding-right: 0.5em;
}

/* Results Table */

table#individuals_results {
	margin-left: auto;
	margin-right: auto;
}

#individuals_results thead {
	position: sticky;
	top: 0;
	background: white;
}

#individuals_results th {
	padding-left: 1em;
	padding-right: 1em;
}

#individuals_results td {
	text-align: center;
}

#individuals_results tbody tr:nth-child(odd) {
	background-color: #DDD;
}

/* Other Specifics */

#pick_buttons {
	display: flex;
	align-items: center;
	max-width: 250px;
	margin: auto;
}

#pick_many_number {
	width: 5em;
}

.probability_number {
	width: 4em;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button.number_other,
input::-webkit-inner-spin-button.number_other {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number].number_other {
	-moz-appearance: textfield;
}
